Repository kubernetes/cloud-provider-vsphere, pull requests merged in 2021-05, with the labels that each got.

#453 Refactor main.go based on sample main from k8s go module version v0.20.6
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/L

#451 when nodes have multiple NICs, we need to go through all listed items before returning error.
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#462 cherry pick from release 1.18
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#461 when nodes have multiple NICs, we need to go through all listed items before returning error
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#464 Add Route CRD apis and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/routeset_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/clientset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/clientset_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/factory.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/routeset.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#466 Add IPPool CRD API and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/ippool_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/ippool.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL
