Repository kubernetes/cloud-provider-vsphere, pull requests merged in 2023-10, with the labels that each got.

#771 Add Yike as maintainer
  OWNERS_ALIASES
Labels: size/XS, cncf-cla: yes, approved, lgtm

#778 Upgrade kind to 0.20.0 and its config version
  test/integration/install_kind.sh
  test/kind/kind-config.yaml
Labels: size/XS, cncf-cla: yes, approved, lgtm, ok-to-test

#755 Bump K8S and CAPI in e2e test
  test/e2e/go.mod
  test/e2e/go.sum
Labels: do-not-merge/hold, cncf-cla: yes, approved, size/L, lgtm, ok-to-test

#762 Correct parsing of guestInfo metadata
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Labels: cncf-cla: yes, approved, size/L, lgtm, ok-to-test
